@keyframes logoblockToWide {
    from {
        border-radius: 0 0 50px 50px;;
        width: 230px;
    }
    to {
        width: 100vw;
        border-radius: 0;
    }
}

@keyframes logoblockToNormal {
    from {
        width: 100vw;
        border-radius: 0;
    }
    to {
        border-radius: 0 0 50px 50px;;
        width: 300px;
    }
}