.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    &__input {
        width: 100%;
        height: 60px;
        padding: 14px 20px;
        border: 3px solid var(--pink);
        border-radius: 50px;
        background-color: var(--bg-color);
        box-shadow: var(--shadow-inset);
        font-size: 14px;
        &:focus {
            outline: none;
            border-color: var(--main-2);
        }
    }
    &__textarea {
        grid-column: 1 / 3;
        width: 100%;
        height: 120px;
        padding: 20px 20px;
        border: 3px solid var(--pink);
        border-radius: 30px;
        background-color: var(--bg-color);
        box-shadow: var(--shadow-inset);
        resize: none;
        &:focus {
            outline: none;
            border-color: var(--main-2);
        }
    }
    &__triggers {
        grid-column: 1 / 3;
        display: flex;
    }
    &__policy {
        margin: auto auto;
    }
}

input[type='checkbox'] {
    accent-color: var(--main-2);
}

@media (max-width:991px) {  
    .form {
        &__input { 
            grid-column: 1 / 3;
            &-small {
                grid-column: inherit;
                height: 50px;
            }
        }
    }
}

@media (max-width:767px) {
    .form {
        &-big {
            gap: 10px;
            margin-top: 10px;
        }
        &__input { 
            font-size: 12px;
        }
        &__textarea {
            height: 100px;
            font-size: 12px;
        }
    }
}

@media (max-width:575px) {
    .form {
        &__input { 
            &-small {
                grid-column: 1 / 3;
                height: 40px;
            }
        }
        &__textarea {
            padding: 10px 20px;
            height: 80px;
        }
    }
}