.form {
    &__input {
        width: 260px;
        height: 60px;
        padding: 0 20px;
        border: 3px solid var(--pink);
        border-radius: 50px;
        background-color: var(--bg-color);
        box-shadow: var(--shadow-inset);
        font-size: 14px;
        margin-top: 20px;
        &:focus {
            outline: none;
            border-color: var(--main-2);
        }
        &-white {
            color: var(--pink);
            &::placeholder {
                color: var(--pink);
            }
        }
    }
    &__textarea {
        width: 100%;
        height: 120px;
        padding: 20px 20px;
        border: 3px solid var(--pink);
        border-radius: 30px;
        background-color: var(--bg-color);
        box-shadow: var(--shadow-inset);
        resize: none;
        margin-top: 20px;
        &:focus {
            outline: none;
            border-color: var(--main-2);
        }
        &-white {
            color: var(--pink);
            &::placeholder {
                color: var(--pink);
            }
        }
    }
    &__triggers {
        grid-column: 1 / 3;
        display: flex;
        position: relative;
    }
    &__policy {
        margin: auto auto;
        span {
            margin-left: 5px;
        }
    }
    p {
        margin-bottom: 0;
    }
}

input[type='checkbox'] {
    accent-color: var(--main-2);
    &.policy {
        position: relative;
        &.notValid{
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 3px;
                border: 2px solid var(--main-1);
            }
            &:after {
                content: '*';
                position: absolute;
                top: -8px;
                left:-10px;
                width: 5px;
                height: 5px;
                color: var(--main-1);
            }
        }
    }
}

@media (max-width:991px) {  
    .form {
        &__input { 
            width: 100%;
            &-small {
                height: 50px;
            }
        }
    }
}

@media (max-width:767px) {
    .form {
        &-big {
            margin-top: 0;
        }
        &__input { 
            font-size: 12px;
        }
        &__textarea {
            height: 100px;
            font-size: 12px;
        }
    }
}

@media(max-width:575px) {
    .form {
        &__input { 
            &-small {
                height: 40px;
            }
        }
        &__textarea {
            padding: 10px 20px;
            height: 80px;
        }
    }
}