h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    text-shadow: var(--shadow);
    z-index: 1;
}

h1 {
    font-size: 50px;
    color: var(--white);
}

h2 {
    position: relative;
    color: var(--pink);
    font-size: 40px;
    &:before {
        content: '';
        display: block;
        width: 52px;
        height: 45px;
        position: absolute;
        left: -28px;
        top: 2px;
        z-index: -1;
        background: url('../icons/boot-grad.svg')  center (center/cover) no-repeat;
    }
    &.blue {
        color: var(--main-4);
        &:before {
            background: url('../icons/boot-pink.svg')  center (center/cover) no-repeat;
        }
    }
}

h3 {
    color: var(--main-3);
    font-size: 35px;
    &.white {
        color: var(--white);
    }
    &.pink {
        color: var(--main-2);
    }
    &.small {
        font-size: 30px;
    }
}

h4 {
    font-size: 26px;
    color: var(--main-2);
    font-style: italic;
}


@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
        &:before {
            left: -22px;
            width: 43px;
            height: 37px;
        }
    }

    h3 {
        font-size: 30px;
        &.small {
            font-size: 26px;
        }
    }
    h4 {
        font-size: 24px;
    }
}

@media (max-width:575px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
        &:before {
            top: 2px;
            left: -20px;
            width: 35px;
            height: 30px;
        }
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }
}