@mixin arrow_left {
    &:before, &:after {
        position: absolute;
        content:'';
        display: block;
        width: 52px;
        height: 12px;
        border-radius: 100px;
        background: var(--main-1);
    }
    &:before {
        top: 17px;
        left: -5px;
        transform: rotate(-55deg);
    }
    &:after {
        top: 50px;
        left: -5px;
        transform: rotate(55deg);
    }
}

@mixin arrow_right {
    &:before, &:after {
        position: absolute;
        content:'';
        display: block;
        width: 52px;
        height: 12px;
        border-radius: 100px;
        background: var(--main-1);
    }
    &:before {
        top: 17px;
        right: -5px;
        transform: rotate(-125deg);
    }
    &:after {
        top: 50px;
        right: -5px;
        transform: rotate(125deg);
    }
}
