* {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
    font-size: 16px;
    &.gradient {
        background-image: var(--light-gradient);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
    
    &.center {
        text-align: center;
    }
    
    &.bold {
        font-size: 18px;
        font-weight: 700;
    }
    
    &.white {
        color: var(--white);
    }
    
    &.italic {
        font-style: italic;
    }
    
    &.small {
        font-size: 14px;
    }

    &.blue {
        color: var(--main-4);   
    }
    
    &.pink {
        color: var(--main-2);   
    }

    &.purple {
        color: var(--main-3);   
    }

    &.red {
        color: var(--main-1);
    }
}

a {
    text-decoration: none;
    color: var(--main-2);
    font-style: italic;
}

.decorated, .page-list, .children{
    list-style: none;
    li {
        position: relative;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            top: 4px;
            left: -28px;
            position: absolute;
            background: url('../icons/list_item.svg')  center (center/cover) no-repeat;
            filter: drop-shadow(var(--shadow));
        }
    }
}


@media (max-width:767px) {
    *{
        font-size: 14px;
    } 
    .bold {
        font-size: 16px;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .decorated, .page-list, .children {
        li {
            &:before {
                top: 3px;
                width: 12px;
                height: 12px;
                left: -22px;
            }
        }
    }
}

@media (max-width:575px) {
    *{
        font-size: 12px;
    } 
    .bold {
        font-size: 12px;
    }
    .small {
        font-size: 12px;
    }
}