* {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
    font-size: 16px;
    &.gradient {
        background-image: var(--light-gradient);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
    
    &.bold {
        font-size: 18px;
        font-weight: 700;
    }
    
    &.white {
        color: var(--white);
    }
    
    &.italic {
        font-style: italic;
    }
    
    &.small {
        font-size: 14px;
    }
    
    &.pink {
        color: var(--main-2);
    }

    &.red {
        color: var(--main-1);
    }
}

a {
    text-decoration: none;
    color: var(--main-2);
    font-style: italic;
}



@media (max-width:767px) {
    *{
        font-size: 14px;
    } 
    .bold {
        font-size: 16px;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

@media (max-width:575px) {
    *{
        font-size: 12px;
    } 
    .bold {
        font-size: 12px;
    }
    .small {
        font-size: 12px;
    }
}