:root{
    --white: #fff;
    --black: #000;
    --text: #5C5B5B;
    --main-1: #FF0198;
    --main-2: #BF00D6;
    --main-3: #8500EB;
    --main-4: #3400D6;
    --pink: #FAE3FD;
    --bg-color: rgba(229, 214, 253, 0.60);
    --shadow: 2px 4px 5px rgba(0, 0, 0, 0.20);
    --shadow-inset: 3px 3px 5px 0px rgba(0, 0, 0, 0.20) inset;
    --dark-gradient: linear-gradient(120deg, rgba(20%,0%,84%,70%), rgba(191,0,214,0.7));
    --light-gradient: linear-gradient(45deg, #F336A6 10%, #8F7FF1 85%); 
}