@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import 'libs/fonts';
@import 'libs/_animate.min';


@import 'base/variables';
@import 'base/mixins';
@import 'base/text';
@import 'base/headers';
@import 'base/buttons';
@import 'base/glide';

// header {
//     background-color: var(--bg-color);
// }

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.divider {
    width: 250px;
    height: 3px;
    border-radius: 50px;
    margin: 10px 0;
    background-image: var(--light-gradient);
}

ul {
    &.cube {
        list-style-type: none;
        li {
            margin-left: 10px;
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: '';
                background-image: url(../icons/list_item.svg);
                width: 40px;
                height: 40px;
                position: absolute;
                left: -40px;
                top: -4px;
            }
        }
    }
}

@media (max-width:767px) {
    .divider {
        width: 150px;
        height: 2px;
    }
}

@import 'blocks/header';
@import 'media/media_header';
@import 'blocks/slider';
@import 'media/media_slider';
@import 'blocks/about';
@import 'media/media_about';
@import 'blocks/group';
@import 'media/media_group';
@import 'blocks/promo';
@import 'media/media_promo';
@import 'blocks/prices';
@import 'media/media_prices';
@import 'blocks/necessary';
@import 'media/media_necessary';


@import 'blocks/footer';

@import 'base/animations';
