.packages {
  &__itemWrapper {
    padding: 15px;
    position: relative;
    transition: 0.6s all;
    &:hover {
      transform: scale(1.1);
      z-index: 1;
    }
  }
  &__item {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 3px solid var(--pink);
    border-radius: 12px;
    background-image: var(--bg-gradient);
    box-shadow: var(--shadow);
    &__sale {
      position: absolute;
      width: 60px;
      height: 60px;
      z-index: 1;
      top: -10px;
      right: -10px;
      z-index: 1;
      img {
          width: 100%;
          object-fit: contain;
          filter: drop-shadow(var(--shadow));
      }
    }
    &__header {
      text-align: center;
    }
    &__infoWrapper {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border-top: 3px solid var(--main-2);
    }
    &__button {
      padding: 10px;
      &:hover {
        box-shadow: 1px 1px 4px var(--main-1);
      }
    }
  }
  &__bottomText {
    margin-top: 30px;
  }
}

@media (max-width:767px) {
  .packages {
    &__itemWrapper {
      padding: 10px;
      &:hover {
        transform: none;
        z-index: 0;
      }
    }
    &__item {
      padding: 10px;
      &__button {
        &:hover {
          box-shadow: var(--shadow);
        }
      }
    }
  }
}

@media (max-width:575px) {
  .packages {
    &__itemWrapper {
      padding: 5px;
    }
    &__item {
      min-height: 200px;
    }
  }
}