.about {
    min-height: 550px;
    position: relative;
    background: url('../img/bg/about.png')  center (center/cover) no-repeat;
    &__wrapper {
        display: grid;
        grid-template-columns: 4fr 7fr; 
    }
    &__photo {
        grid-row: 1 / 5;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__header {
        margin: 110px auto 0 auto;        
    }
    &__button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        z-index: 1;
    }
    &__wave {
        position: absolute;
        height: 200px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: url('../img/bg/about_wave.png')  center (center/cover) no-repeat;
    }
}