.group {
    overflow: hidden; 
    padding-top: 60px;
    min-height: 750px;
    position: relative;
    background: url('../img/bg/group.png')  center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__header {
        margin: 0 auto;
    }
    &__class {
        width: 100%;
        margin-top: 30px;
        padding: 25px 50px;
        border-radius: 50px;
        border: 3px solid var(--main-4);
        box-shadow: var(--shadow);
        display: none;
        &-active {
            display: flex;
            animation-name: backInRight;
            animation-duration: 0.6s; 
        }
        &-exit {
            display: flex;
            animation-name: backOutLeft;
            animation-duration: 0.6s;
        }
        &__content {
            width: calc(100% - 375px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 25px;
        }
        &__header {
            text-align: center;
        }
        &__img {
            width: 350px;
            height: 350px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px;
            }
        }
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        &__button {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 1rem;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

}