.page {
    background-color: var(--bg-color);
    min-height: 70vh;
    padding-top: 140px;
    padding-bottom: 30px;   
}

.content-wrapper {
    padding: 30px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    background-color: var(--pink);
}

.breadcrumbs {
    color: var(--main-2);
}