.page {
    background-color: var(--bg-color);
    min-height: 70vh;
    padding-top: 140px;
    padding-bottom: 30px;   
}

.content-wrapper {
    padding: 30px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    background-color: var(--pink);
}

.crp_title {
    color: var(--main-2);
}

.breadcrumbs {
    color: var(--main-2);
}

.sidebar {
    height: 500px;
    .widget {
        border-radius: 12px;
        overflow: hidden;
        box-shadow: var(--shadow);
        margin-bottom: 30px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.posts {
    padding-top: 20px;
    &__img {
        border-radius: 12px;
        overflow: hidden;
        box-shadow: var(--shadow);
        img {
            width: 100%;
            height: auto;
        }
    }
    &__date {
        margin-top: 5px;
        padding: 0 10px;
    }
}

@media (max-width:991px) { 
    .page {
        padding-top: 100px;
    }
}

@media (max-width:767px) { 
    .page {
        padding-top: 80px;
    }
}

@media (max-width:575px) { 
    .page {
        padding-top: 30px;
    }
}