.reviews {
    min-height: 430px;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    &__header {
        display: flex;
        justify-content: center;
    }
    &__slide {
        min-height: 200px;
        padding: 10px 60px;
        width: 89%;
        border-radius: 50px;
        margin: 0 auto;
        border: 1px solid var(--main-2);
        background: var(--pink);
        overflow: hidden; 
        display: grid;
        grid-template-columns: 180px auto;
        column-gap: 60px;
        &__img {
            height: 180px;
            width: 180px;
            border-radius: 100%;
            overflow: hidden;
            margin: auto 0;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__name {
            display: flex;
            justify-content: flex-end;
            
        }
        &__social {
            height: 26px;
            width: 26px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__skates {
        position: absolute;
        width: 100%;
        height: 200%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden; 
        z-index: -1;
        &:before {
            content: '';
            position: absolute;
            top: -30%;
            left: -5%;
            width: 65%;
            height: 100%;
            background: url('../img/ice_skate.png')  center (center/90%) no-repeat;
        }
        &:after {
            content: '';
            position: absolute;
            top: -35%;
            right: -5%;
            width: 50%;
            height: 100%;
            background: url('../img/roll_skate.png')  center (center/90%) no-repeat;
            transform: rotate(-28deg);
        }

    }

    .glide {
        margin-top: 30px;
    }
}