@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.glide__slide {
    position: relative;
}

.slider {
    min-height: 740px;
    background-color: rgba(0,0,0,0.3);
    &__content {
        position: absolute;
        width: 1140px;
        height: 160px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
    }
    &__subheader {
        margin-left: 150px;
    }
}

