@media (max-width:991px) {
    .header {
        &__buttons {
            &__group {
                max-width: 300px;
                &_item {
                    margin-top: 5px;
                    height: 30px;
                }
            }
        }
        &__logoblock {
            padding-top: 60px;
            &-normal {
                width: 210px;
            }
            top: -90px;
            &__logo {
                margin: 40px auto;
                height: 60px;
            }
        }
    }
    .menu {
        &__item {
            &__link {
                line-height: 23px;
            }
        }
    }

    .hamburger {
        display: block;
    }
}


@media (max-width:767px) {
    .header {
        height: 75px;

        &__buttons {
            &__group {
                max-width: 200px;
                &_item {
                    img {
                        &:hover {
                            filter: drop-shadow(var(--shadow));
                        }
                    }

                    &-pc {
                        display: none;
                    }
                }
            }
        }

        &__logoblock {
            padding-top: 70px;
            &-normal {
                height: 145px;
            }
            &-wide {
                height: 145px  ;
            }
            top: -80px;
            &__logo {
                margin: 15px auto;
                height: 50px;
            }
        }
    }

    .menu {
        display: none;
    }
}


@media (max-width:575px) {
    .header {
        height: 60px;
        padding-top: 5px;
        display: block;
        &__logo {
            display: block;
            width: 93px;
            height: 38px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__buttons {
            &__group {
                &_item {
                    &-tablet {
                        display: none;
                    }
                }
            }
        }
        &__logoblock {
            padding-top: 60px;
            &-normal {
                width: 100vw;
                animation: none;
                border-radius: 0px;
                height: 60px;
                top: -10px;
                padding-top: 0;
            }
            &-wide {
                animation: none;
                height: 50px;   
                top: -10px;
            }
            &__logo {
                display: none;
            }
        }
    }
}