@media (max-width:991px) {
    .header {
        height: 90px;
        &__buttons {
            &__group {
                max-width: 300px;
                &_item {
                    margin-top: 5px;
                    height: 30px;
                }
            }
        }
        &__logoblock {
            height: 80px;
            &-normal {
                width: 210px;
            }
            &__logo {
                margin: 5px auto;
                height: 60px;
            }
        }
    }
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width:767px) {
    .header {
        height: 75px;
        &__buttons {
            &__group {
                max-width: 200px;
                &_item {
                    img {
                        &:hover {
                            filter: drop-shadow(var(--shadow));
                        }
                    }

                    &-pc {
                        display: none;
                    }
                }
            }
        }

        &__logoblock {
            &-normal {
                height: 60px;
            }
            &-wide {
                height: 60px;
            }
            &__logo {
                height: 50px;
            }
        }
    }

    .menu {
        &__item {
            &__link {
                &:hover {
                    filter: drop-shadow(0px 0px 1px var(--main-1)); 
                }
            }
        }
    }

    .hamburger {
        &:hover {
            text-shadow: none;
        }
    }
}

@media (max-width:575px) {
    .header {
        height: 60px;
        display: block;
        &__logo {
            margin-top: 5px;
            display: block;
            width: 93px;
            height: 38px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__buttons {
            &__group {
                &_item {
                    &-tablet {
                        display: none;
                    }
                }
            }
        }
        &__logoblock {
            &-normal {
                width: 100vw;
                animation: none;
                border-radius: 0px;
                height: 50px;
                padding-top: 0;
            }
            &-wide {
                animation: none;
                height: 50px;   
            }
            &__logo {
                display: none;
            }
        }
    }
}