@media (max-width:767px) {
    .promo {
        background: url('../img/bg/promo_tablet.png')  center (center/cover) no-repeat;
    }
}


@media (max-width:575px) {
    .promo {
        padding-top: 30px;
        min-height: 240px;
        background: url('../img/bg/promo_mobile.png')  center (center/cover) no-repeat;
        &__text {
            grid-column: 1 / 3;
        }
        &__button {
            grid-column: 1 / 3;
            justify-content: center;
        }
    }
}


