@media (max-width:991px) {
    .group {
        min-height: 500px;
        &__class {
            &__wrapper {
                grid-template-columns: minmax(220px, auto) 220px;
            }
        }
        &__buttons {
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
        }
    }
}

@media (max-width:767px) {
    .group {
        &__class {
            padding: 15px 30px;
            &__bottomBlock {
                flex-direction: column;
            }
        }
    }
}

@media (max-width:575px) { 
    .group {
        &__class {
            padding: 10px;
            &__wrapper {
                grid-template-columns: minmax(100px, auto) 40%;
                column-gap: 10px;
            }
            &__img {
                grid-row: 1 / 2;
            }
            &__content {
                &-bottom {
                    grid-column: 1/3;
                }
            }
            &__bottomBlock {
                flex-direction: row;
                justify-content: space-around;
            }
        }
        &__buttons {
            margin-top: 15px
        }
    }
}