@media (max-width:991px) {
    .about {
        min-height: 500px;
        &__wrapper {
            grid-template-columns: 5fr 7fr; 
        }
        &__header {
            margin: 60px auto 0 auto;   
        }
        &__button {
            justify-content: center;
        }
    }
}

@media (max-width:767px) {
    .about {
        min-height: 430px;
        &__wrapper {
            grid-template-columns: 6fr 7fr; 
        }
    }
}

@media (max-width:575px) {
    .about {
        &__wrapper {
            grid-template-columns: 1fr 1fr; 
            column-gap: 10px;
        }
        &__header {
            grid-column: 1 / 3;   
        }
        &__text {
            &-first {
                grid-column: 1 / 3;
            }
        }
        &__photo {
            grid-row: 3 / 5;
        }
        &__button {
            margin-bottom: 10px;
        }
        &__wave {
            background: url('../img/bg/about_wave_mobile.png')  center (center/cover) no-repeat;
        }
    }

}