@media (max-width:1139px) {
    .slider {
        .glide {
            &__slide {
                img {
                    height: 640px;
                }
            }
        }
    }
}

@media (max-width:991px) {
    .slider {
        &__content {
            padding: 0 45px;
        }
    }
}

@media (max-width:575px) { 
    .slider {
        height: 560px;
        &__content {
            padding: 0 20px;
        }
        &__subheader {
            margin-left: 30px;
            text-align: right;
        }
        .glide {
            &__slide {
                img {
                    height: 560px;
                }
            }
        }
    }
}